<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CGFAMA</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Servicios</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Acerca de Nosotros</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Masthead-->

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <img class="masthead-avatar mb-2" src="assets/img/portfolio/cgf.png" alt="" />
      <!-- Masthead Heading-->
      <h3 class="masthead-heading text-uppercase mb-1">CGFAMA</h3>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">Rotulación - Bordado computarizado - Diseño - Impresión</p>
  </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Servicios</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <h5 class="text-center">Rotulación</h5>
            &nbsp;
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/vehiculo.png" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <h5 class="text-center">Bordado</h5>
            &nbsp;
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/bordado.png" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
            <h5 class="text-center">Impresión</h5>
            &nbsp;
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/impresion.jpg" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 4-->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <h5 class="text-center">Publicidad</h5>
            &nbsp;
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/fachada.png" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 5-->
          <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
            <h5 class="text-center">Diseño gráfico</h5>
            &nbsp;
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/diseño.png" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 6-->
          <div class="col-md-6 col-lg-4">
            <h5 class="text-center">Informática</h5>
            &nbsp;
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/informatica.jpg" alt="" />
              </div>
          </div>
      </div>
  </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">Acerca de nosotros</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div>
          <p class="text-uppercase; text-center">
            LA EXPERIENCIA HACE LA DIFERENCIA
          </p>
          <p class="text-justify">
            Somos una empresa 100% chiapaneca, iniciamos en 1991 en el ámbito de la publicidad, estamos preparados profesionalmente en el área de rotulación y bordado computarizado, así como en diseño e impresión. 
            Con todo esto solo quiero decirles, que estamos empeñados en ofrecerles nuestros servicios a quienes nos los soliciten.
          </p>
          <P class="text-justify">
            Les damos las gracias anticipadas por confiar en nosotros, esperamos poder servirles como ustedes se merecen.
            Surtimos pedidos a toda la República Mexicana 
            Presupuestos sin compromiso. 
           
          </P>
          <p class="text-justify">
              Una empresa confiable, los años de servicio nos respaldan llevando a las personas servicios con productos
              de calidad en todos los aspectos, ajustados a la medida del cliente, y sobretodo a precios muy accesibles
              que ayudan a la economía de los consumidores.
          </p>
          <p class="text-justify">
            Todo tipo de señalización según noma oficial para protección civil, PEMEX, CFE, industrial, comercial, institucional o de vialidad.
            Envíenos sus necesidades y con gusto le atenderemos
          
          </p>
          <p class="text-justify">
              "
              Con más de 15 años de trayectoria han sabido ganar la preferencia y la confianza de sus clientes, siendo una de las mejores empresas en el sector en la entidad Chiapaneca. 
              "
          </p>
      </div>
      
  </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
              <form id="contactForm" name="sentMessage" novalidate="novalidate">
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Nombre completo</label>
                          <input class="form-control" id="name" type="text" placeholder="Nombre completo" required="required" data-validation-required-message="Please enter your name." />
                          <p class="help-block text-danger"></p>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Correo electrónico</label>
                          <input class="form-control" id="email" type="email" placeholder="Correo electrónico" required="required" data-validation-required-message="Please enter your email address." />
                          <p class="help-block text-danger"></p>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Número telefónico</label>
                          <input class="form-control" id="phone" type="tel" placeholder="Número telefónico" required="required" data-validation-required-message="Please enter your phone number." />
                          <p class="help-block text-danger"></p>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Mensaje</label>
                          <textarea class="form-control" id="message" rows="5" placeholder="Mensaje" required="required" data-validation-required-message="Please enter a message."></textarea>
                          <p class="help-block text-danger"></p>
                      </div>
                  </div>
                  <br />
                  <div id="success"></div>
                  <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">ENVIAR</button></div>
              </form>
          </div>
      </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Ubicación</h4>
              <p class="lead mb-0">
                13 Oriente Norte 575 Altos   COL. Periodistas  C.P. 29040
                <br />
                Tuxtla Gutiérrez, Chiapas              
            </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="mb-4">Síguenos en redes sociales</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">Servicio de calidad</h4>
              <p class="lead mb-0">
                Nos distingue la calidad en nuestros productos.             
              </p>
              <p>
                Por el bien común.
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright © CGFAMA 2020</small></div>
</div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h5 class="portfolio-modal-title text-secondary  mb-6" id="portfolioModal1Label">Rotulación</h5>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                            <!-- Portfolio Modal - Text-->
                          <p class="mb-5, text-justify">
                            Paquete de rotulacion para taxi de calle desde $ 700.00 para taxis, colectivos, camiones del transporte publico, motos racing, motocross, 
                            transporte oficial,oficinas, despachos, consultorios, gasolineras, hospitales, etc...
                          </p>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="assets/img/portfolio/vehiculo.png" alt="" />
                         
                          <button class="btn btn-primary" data-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Cerrar ventana
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary mb-6" id="portfolioModal2Label">Bordado</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5,text-justify">
                            Contamos con bordado de diferentes estilos: cuello redondo peso completo 1 tinta pecho chico y espalda grande $70.00 a partir de 25 piezas.
                        </p>
                         <p>Contamos con playera "cuello v" optima solo dama, gildan 9 colores dama y caballero tipo polo (con cuello)  blanca o color  1 tinta pecho chico y espalda grande $130.00 a partir de 25 piezas  (vigente hasta el mes de diciembre 2020).

                          </p>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="assets/img/portfolio/bordado.jpg" alt="" />
                          
                          <button class="btn btn-primary" data-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Cerrar ventana
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary mb-6" id="portfolioModal3Label">Impresión</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5, text-justify">
                              Contamos con servicio de impresión en diferentes formatos, todo ajustado a la medida del cliente.
                            Con las herramientas más actualizadas para ofrecerle una impresión de calidad y a buen precio.
                            </p>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="assets/img/portfolio/impresion.jpg" alt="" />
                          
                          <button class="btn btn-primary" data-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Cerrar ventana
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary  mb-6" id="portfolioModal4Label">Publicidad</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5, text-justify">
                            Lo que distingue a una persona imaginativa de un auténtico creativo de publicidad es el criterio, el olfato y su capacidad para aportar soluciones acertadas ante cada tipo de situación.
                            </p>
                            <p>
                            En CGFAMA, desde luego, aportamos una publicidad creativa centrada en objetivos, con método, rigor y disciplina. Desde la idea al resultado en todo tipo de campañas parciales o globales. Con los mejores especialistas y un centro neurálgico vitaminado. De este modo, desarrollamos plataformas creativas y las adaptamos a sus distintos soportes, concebimos y gestionamos un plan de comunicación personalizado o creamos piezas aisladas de comunicación. 
                          </p>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="assets/img/portfolio/fachada.jpg" alt="" />
                          
                          <button class="btn btn-primary" data-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Cerrar ventana
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary  mb-6" id="portfolioModal5Label">Diseño gráfico</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5, text-justify">
                            Desarrollamos la imagen de tu empresa, diseño gráfico a medida.
                            Diseñamos todo el branding de tu empresa: logotipos, folletería,
                            membretes, tarjetas personales, carteleria, revistas, catálogos, etc.
                          </p>
                          <p>
                            Convertimos tu proyecto en algo especial. Contrata nuestros servicios de diseño gráfico para tu identidad corporativa o dossieres y catálogos.
                          </p>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="assets/img/portfolio/diseño.png" alt="" />
                          
                          <button class="btn btn-primary" data-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Cerrar ventana
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary mb-6" id="portfolioModal6Label">Informática</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5, text-justify">
                            Asesorias en materia de publicidad, asesoría en el manejo de programas 
                            de diseño, corel draw cualquier version, photoshop, office, works, etc.
                          </p>
                          <p>
                              Ofrecer capacitación en informática en diversos apartados, especialmente con 
                              software de diseño, construcción de plantillas, elementos visuales entre otras cosas más.
                          </p>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="assets/img/portfolio/informatica.jpg" alt="" />
                          
                          <button class="btn btn-primary" data-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Cerrar ventana
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>